@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

:root {
    --default-margin: 50px;
    --second-color: rgb(52,58,64);
}

.my-container {
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
}

.my-img {
    max-height: 250px;
}


.white-board {
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;

    background-color: var(--second-color);
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    max-width: 500px;
    width: auto;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    word-break: break-word;
    width: fit-content;
}

.background-padding .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-area .col {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.news-col .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-board h3 {
    font-size: 30px;
}

.white-link a {
    color: rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
}

.white-link:hover {
    color: rgba(255, 255, 255, 0.4);
}

.white-link {
    color: rgba(255, 255, 255, 0.6);
}

.desc {
    align-content: flex-start;
}

.my-img {
    align-self: center;
}

.my-next-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

no-padding {
    padding: 0;
}

@media (max-width: 768px) {
    .white-board {
        align-content: center;
        align-self: center;
        text-align: center;
    }
}