html {
  font-size: 14px;
}

:root {
    --dark-color: #1F2226;
    --second-color: rgb(52,58,64);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(255, 255, 255, 0.6), 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: rgb(2,0,36);
    background: var(--dark-color);
    margin-bottom: 60px;
    /*background-color: var(--dark-color);*/
    color: rgba(255, 255, 255, 0.6);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}




.social-heading {
    text-align: center;
}

.social-heading a {
    display: inline-block;
    width: 60px;
}


.social-heading img {
    max-width: 30px;
}

.arrow.clicked {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.hidden {
    display: none;
}

.my-card {
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--second-color);
    border-radius: 20px;
    max-width: 300px;
    min-width: 300px;
    min-height: 250px;
    padding: 30px;
    transition-duration: 0.3s;
}

.my-card h5 {
    font-size: 20px;
}

my-card:hover {
    transform: translateY(5px);
}

.arrow {
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.down:active {
    transform: translateY(3px) rotate(45deg);
}

.my-description {
    color: grey;
    font-size: 18px;
}

.my-title {
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.header-img {
    background-image: url('/images/bg_image.jpg');
    color: white;
    min-height: 500px;
    max-width: auto;
    width: auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    align-content: center;
    background-repeat: no-repeat;
}

.about-description {
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}


.title {
    margin-top: 30px;
}



.frame {
    padding: 30px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 130px;
}

.white-board .col {
    margin: 30px;
    align-content: center;
    padding: -40px;
}

.shadow {
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}

#oats {
    max-width: 300px;
}

.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.my-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 19px;
    color: white;
    background-color: #000;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    border-radius: 20px 20px;
    font-size: 18px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.15s;
}

.background-padding {
    margin-top: 5%;
}

.card-margin {
    margin: 10%;
}

.my-button:hover {
    opacity: 0.7;
    color: white;
}

.my-button:active {
    transform: translateY(5px);
}

.skill {
    height: 190px;
    width: 160px;
    background:rgba(0,0,0,0)
    border-radius: 8px;
}

img {
    border-radius: 3%;
}

.rid-the-bullets {
    list-style-type: none;
    padding-bottom: 30px;
}

#profile-pic {
    border-radius: 20px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}

.circular-progress {
    position: relative;
    height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: rgba(2,0,99, 0);
    background: var(--dark-color);
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-size: 20px;
}

.hidden {
    display: none;
}

.my-main {
    height: fit-content;
    overflow: auto;
    max-height: 100vh;
    overflow-y: auto;
    margin-bottom: 300px;
}

.project-area {
    margin-top: 300px;
    padding-bottom: 100px;
    opacity: 0;
}

.news-col {
    margin: 10px;
}

.white {
    color: rgba(255, 255, 255, 0.6);
}

.cp-tag {
    padding-top: 30px;
}

.my-list {
    list-style-type: none;
}

.my-list li {
    color: rgb(255, 255, 255);
}

.my-list h6:not(.head-title) {
    font-weight: 300;
}

.head-title {
    color: rgba(255, 255, 255, 0.6);
}

.col {
    align-content: center;
}


.main-content {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.my-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--second-color);
    padding: 30px;
}

.topic-board {
    display: block;
    justify-content: center;
}



.topic-board .row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: -30px;
}

.topic-board img {
    min-width: 400px;
}

.topic-board .col {
    margin: 10px;
}

.topic-img {
    max-height: 300px;
    max-width: 600px;
}

@media (max-width: 991px) {
    #myNavbar {
        display: none;
    }

}

@media (max-width: 479px) {
    img {
        max-width: 300px;
        width: auto;
        height: auto;
        align-self: center;
    }

    .custom-row img {
        max-width: 100%;
        min-width: 130px;
        max-height: 100%;
    }

}

#submit-btn {
    background-color: rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
    color: white;
}

#submit-btn:hover {
    background-color: rgb(120, 120, 120);
    border-color: rgb(85, 85, 85);
}

#submit-btn:active {
    border-color: rgb(85, 85, 85);
}

.my-main::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    img :not(#profile-pic) {
        max-width: 250px;
        width: auto;
        height: auto;
        align-self: center;
    }

    #myNavbar {
        display: none;
    }


    .topic-img {
        max-width: 250px;
        padding: 30px;
    }

    .custom-row img {

    }

    .topic-img {
        align-self: center;
    }

    form {
        align-content: center;
        text-align: center;
    }

    input {
        align-content: center;
        text-align: center;
    }

    .container h2 {
        text-align: center;
    }

    .about-description {
        align-content: center;
        text-align: center;
    }

    h2 {
        text-align: center;
        align-content: center;
    }

    .col {
        align-content: center;
    }

    .heading-name {
        display: flex;
        align-content: center;
    }


    h2 {
        text-align: center;
        align-self: center;
    }

    h3 {
        text-align: center;
        align-self: center;
    }


    .container {
        align-content: center;
        align-items: center;
        text-align: center;
    }

    rid-the-bullets {
        display: flex;
        text-align: center;
        align-self: center;
    }

    .row {
        align-content: center;
    }
}

.custom-row col {
    padding-left: -30px;
    margin-right: -70px;
}

.col img {
    align-self: center;
}

.row {
    display: flex;
    align-content: center;
    align-self: center;
}