@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@await Html.PartialAsync("_FadeUp", "#my-title");

<a id="top-heading"></a>
<div id="about-section" class="container" style="padding: 3%;">
    <div>
        <h2 id="my-title" class="display-3">About Me</h2>

        <div class="container about-description">


            <div class="row">
                <div class="col">
                    <img id="profile-pic" src="/images/profile.jpg" />
                </div>
                <div class="col">
                    <br />
                    <p>
                        Hello! My name is Mitchell Martin. I recently graduated with a Bachelor's of Science
                        in Computer Science from Angelo State University. For around the past two decades, I have
                        had a strong interest in being technically creative.
                    </p>
                    <p>
                        I began developing projects utilizing programming languages around four years ago.
                        Moreover, I delved into Game Development in Python, and overtime C++.
                        Since then, I have began to transition more in different fields such as Mobile Development
                        utilizing prominently Java, Data-Science, and gaining exposure to Web Development
                        by utilizing frameworks such as React and ASP.NET CORE.
                    </p>
                </div>
            </div>

        </div>


        <h3 class="display-4">Technical Skills</h3>

        @{
            Dictionary<string, string> softwareSkills = new Dictionary<string, string>()
            {
                { "C++", "85" },
                { "Java", "80" },
                { "Python", "80" }
            };

        }

        <a id="tech-skills"></a>
        <div id="routine-row" class="container about-description" style="padding: 100px;">
            <h3 class="display-6">Software Languages</h3>
            <div class="row" style="padding-top: 30px;">

                @foreach(var pair in softwareSkills)
                {
                    <div class="col">
                        <circle-progress-bar percentage="@pair.Value" title="@pair.Key"></circle-progress-bar>
                    </div>
                }
            </div>
            <div class="row">
                <div style="padding: 30px">

                </div>
                <h3 class="display-6">Why Is C++ The Highest?</h3>
                <p>I have utilized C++ throughout my journey as a college student. As said earlier on this page,
                    I have successfully utilized the language in academic and school projects.
                </p>
                
                    <ul class="rid-the-bullets">
                        <li class="display-4" style="font-size: 30px;">Aritifical Intelligence</li>
                        <p>Solved complex-problems with the provided language utilzing different
                            types of uninformed and informed search algorithms.
                        </p>
                        <li class="display-4" style="font-size: 30px;">Algorithmic Languages & Compilers</li>
                        <p>Worked on a compiler utilizing a pair programming technique in order to efficiently
                            deliver our project before the addressed deadline.</p>
                        <li class="display-4" style="font-size: 30px;">Theory of Algorithms</li>
                        <p>Gained an overall familiarity with theoretical computer science concepts
                            and finished all assignments using the provided language.
                        </p>
                        <li class="display-4" style="font-size: 30px;">Data Structures & Algorithms</li>
                        <p>Gained problem-solving experience and familiarity of important Computer Science concepts
                            using the provided language.
                        </p>
                    </ul>
                
            </div>
        </div>

        @await Html.PartialAsync("_RenderTopics");
    </div>
</div>
