@using Portfolio.Helpers

@{
    var news = ViewData["ApiNews"] as NewsModel[];
    var category = ViewData["category"] as string;
}
<script>
    $(document).ready(function () {
        $("#main-content *:not(.display-4):not(p)").css("opacity", 0);
        $("#main-content *:not(.display-4):not(p)").css("position", "relative");


        $("#main-content *:not(.display-4):not(p)").animate({
            top: '+=50px'
        }, 0);
        $("#main-content *:not(.display-4):not(p)").animate({
            opacity: 1,
            top: '-=50px'
        }, 1000);
    });
</script>
<a id="top-heading"></a>

@inject Portfolio.Repositories.IAppRepository _appRepository


@section heading
{
    <div class="text-center header-img">
        <h3 class="display-4">Mitchell Martin</h3>
        <p>Graduate in Computer Science</p>
        <div class="social-heading">
            <a href="https://github.com/mmartin46">
                <img src="/images/social/git_logo.png" alt="Github" />
            </a>
            <a href="https://www.linkedin.com/in/mitchell-martin-0508021b9/">
                <img src="/images/social/linkedln.png" alt="Linkedln" />
            </a>
        </div>
    </div>


}


@{
    string GetShorterText(string description, int maxLength = 50)
    {
        return description.Length <= maxLength ? description : description.Substring(0, maxLength) + "...";
    }
}

<div id="main-content" class="container align-content-center" style="padding-top: 100px">
    <div class="no-padding text-center">
        <h3 class="display-4">Latest Tech News</h3>
        <p>Just some news on technology, to get caught up.</p>
    </div>

    <div class="row news-col">

        @{
            int count = 0;
        }
        @if (news != null && news.Length > 0)
        {
            @foreach(var topic in news)
            {
                    if (topic.ImageURL != null && topic.Description != null &&
                        topic.Description.Length <= 1000)
                    {
                        <div class="col">

                            <!--To do format the above later-->
                            <div class="white-board topic-board">
                                <div class="row">
                                <h3 style="font-weight: 300">@topic.Title</h3>
                                </div>
                                <div class="row">
                                     <div class="col my-img">
                                         <img src="@topic.ImageURL" style="max-height: 200px;"/>
                                     </div>
                                     <div class="col desc">
                                         <p>@GetShorterText(topic.Description, 100)</p>
                                     </div>
                                     <div class="row">
                                         <button class="my-next-btn btn btn-dark">
                                             <a class="white white-link" href="@topic.Link">Click To See More</a>
                                         </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                        ++count;

                        if (count >= 6)
                        {
                            break;   
                        }

                }
            }
        }
    </div>
</div>


<a id="project-area"></a>
@section projects
{
    @try
    {
        <div class="background-padding text-center" style="padding-bottom: 100px;margin: 5%;">

            <h3 class="display-4 text-center">Projects</h3>
            <p>Projects that I have worked on during the majority of my undergraduate years</p>

            <div class="row">
                
                @{var allApps = await _appRepository.GetApps();}

                @if (allApps != null)
                {
                    @await Html.PartialAsync("_RenderApps", allApps)
                }
                else
                {
                    <p>No Apps Available 1</p>
                }
            </div>
        </div>
    }
    catch
    {
        <h3>No Apps Available 2</h3>
    }
}