@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var category = ViewData["name"] as string;
}

@model List<AppModel>;


<script>
    $(document).ready(function () {

        $("#whole-area *:not(h3):not(p)").css("opacity", 0);
        $("#whole-area *:not(h3):not(p)").css("position", "relative");


        $("#whole-area *:not(h3):not(p)").animate({
            top: '+=70px'
        }, 0);

        $("#whole-area *:not(h3):not(p)").animate({
            opacity: 1,
            top: '-=70px'
        }, 1800);
    });
</script>

@try
{
    <div id="whole-area" class="text-center">

        @if (category == null)
        {
            <h3 class="display-4 text-center">Projects</h3>
            <p>Projects that I have worked on during the majority of my undergraduate years</p>
        }
        else
        {
            switch (category)
            {
                case "Games":
                    <h3 class="display-4 text-center">Games</h3>
                    <p>Here are some games I have developed throughout my development journey</p>
                    break;
                case "Mobile":
                    <h3 class="display-4 text-center">Mobile</h3>
                    <p>Some mobile projects I have developed</p>
                    break;
                case "Data":
                    <h3 class="display-4 text-center">Data-Science</h3>
                    <p>Data-Science based projects I've created</p>
                    break;
            }
        }
        <div class="row" id="project-area" style="margin: 5%;">

            @if (Model != null)
            {
                @await Html.PartialAsync("_RenderApps", Model);
            }
            else
            {
                <p>No Apps Available</p>
            }
        </div>
    </div>
}
catch
{
    <h3>Sorry, Problem loading page. :(</h3>
}
